
body {
    background: url(pawsibilitylogo5.png);
    background-position: center top; 
    background-repeat: no-repeat;
    text-align: center;
  }

  .uiform {
      color: white;
      display: block;
      text-align: center;
      
            
    }

    .form{
        height: 100px;
        width: 100%;
        text-align: center;
    }

    .btn {
        
        background-color: #EB984E ;
        
        
        

    }
    


  