
body {
    background: url(pawsibilitylogo5.png);
    background-position: center top; 
    background-repeat: no-repeat;
    text-align: center;
  }

  .uiform {
      color: white;
      display: block;
      text-align: center;
      
            
    }

    .form{
        height: 100px;
        width: 100%;
        text-align: center;
    }

    .btn {
        
        background-color: #EB984E ;
        border-radius: 4px;
        color: white;
        
    }

    input[type=text], select {
        width: 15%;
        padding: 12px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    footer {
        position:fixed;
        left:0px;
        bottom:25px;
        height:30px;
        width:100%;
        
     }

     